.sttt--tooltip {
	--left: 0;
	--top: 0;
	--right: 0;
	--bottom: 0;

	background-color: var(--SmartThemeBlurTintColor);
	backdrop-filter: blur(calc(var(--blurStrength) * 1px));
	border: 1px solid var(--SmartThemeBorderColor);

	font-size: smaller;
	padding: 0.25em 0.5em;
	white-space: pre-line;

	display: -webkit-box;
	-webkit-line-clamp: 16;
	-webkit-box-orient: vertical;
	overflow: hidden;

	position: fixed;
	left: calc(var(--left) * 1px);
	&.sttt--flip-h {
		left: unset;
		right: calc(var(--right) * 1px);
	}
	top: calc(var(--top) * 1px);
	&.sttt--flip-v {
		top: unset;
		bottom: calc(var(--bottom) * 1px);
	}

	max-width: 50vw;
	&.sttt--active {
		max-width: min(50vw, calc(100vw - var(--left) * 1px - 10px));
		&.sttt--flip-h {
			max-width: min(50vw, calc(100vw - var(--right) * 1px - 10px));
		}
		max-height: calc(100vh - var(--top) * 1px - 10px);
		&.sttt--flip-v {
			max-height: calc(100vh - var(--bottom) * 1px - 10px);
		}
	}
	z-index: 10000;
	pointer-events: none;
}
